<% title_tag t("common.login") %>

<div class="row">

  <div class="col-md-5 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t("common.auth_with_other_services") %></div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to raw("<i class='fa fa-github'></i> GitHub"), omniauth_authorize_path(:user, :github), class: "btn btn-default btn-lg btn-block" %> </li>
      </ul>
    </div>
  </div>
</div>

<script>
  $('#new_user').on('ajax:error', function(event, xhr, status, error) {
    App.alert(xhr.responseText, '#main');
  })
</script>
